Factory simulation_node red.json
[{"id":"7fdef46.f9a0f0c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"50c62193.fc097","type":"tab","label":"Flow 3","disabled":false,"info":"return {\n    payload: {\n        \n    },\n    topic: bg\n}"},{"id":"41c78d86.a644d4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b2513ac.b7d41c","type":"ui_group","z":"","name":"Graphics","tab":"5feed724.08d068","order":2,"disp":true,"width":"20","collapse":false},{"id":"f57ffc3a.e6f9e","type":"ui_group","z":"","name":"Controls","tab":"5feed724.08d068","order":1,"disp":true,"width":"6","collapse":false},{"id":"5feed724.08d068","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a5bf296c.9bda88","type":"ui_group","z":"","name":"Factory line","tab":"5feed724.08d068","order":3,"disp":true,"width":"16","collapse":false},{"id":"bf7007ae.6715c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7112ebbb.5c3bc4","type":"mosca in","z":"7fdef46.f9a0f0c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":150,"y":40,"wires":[["d50b34a3.631138"]]},{"id":"f2ba02c3.4c177","type":"mqtt out","z":"7fdef46.f9a0f0c","name":"","topic":"","qos":"","retain":"","broker":"41c78d86.a644d4","x":570,"y":420,"wires":[]},{"id":"d50b34a3.631138","type":"debug","z":"7fdef46.f9a0f0c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":40,"wires":[]},{"id":"996b6028.6b98d","type":"inject","z":"7fdef46.f9a0f0c","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[["72f49e03.d2069","5dd031fe.c667d"]]},{"id":"abc8ecc7.92b07","type":"mqtt out","z":"7fdef46.f9a0f0c","name":"","topic":"","qos":"","retain":"","broker":"41c78d86.a644d4","x":550,"y":300,"wires":[]},{"id":"7005bdff.5367b4","type":"mqtt out","z":"7fdef46.f9a0f0c","name":"","topic":"","qos":"","retain":"","broker":"41c78d86.a644d4","x":550,"y":500,"wires":[]},{"id":"72f49e03.d2069","type":"function","z":"7fdef46.f9a0f0c","name":"Rand - Pump speed","func":"let valveState = global.get('valveState')\nlet pumpState = global.get('pumpState')\n\nlet pumpSpeed = ((Math.floor(Math.random() * 5) + 1)/10) +1  \n\nif (!valveState){\n    pumpSpeed = pumpSpeed + 0.8\n}\n\nif (!pumpState){\n    pumpSpeed = 0;\n}\n\npumpSpeed = Math.round((pumpSpeed + Number.EPSILON) * 100) / 100\n\nglobal.set('pumpSpeed', pumpSpeed)\n\nmsg.payload = {pumpSpeed: pumpSpeed}\nmsg.topic = 'pumpspeed'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":420,"wires":[["f2ba02c3.4c177","c461bea0.6b1bc"]]},{"id":"bc12c732.f27818","type":"function","z":"7fdef46.f9a0f0c","name":"Valve position","func":"global.set('valveState', msg.payload)\n\nmsg.topic = 'valvestate'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('valveState', true)","finalize":"","x":300,"y":300,"wires":[["abc8ecc7.92b07","c461bea0.6b1bc"]]},{"id":"5dd031fe.c667d","type":"function","z":"7fdef46.f9a0f0c","name":"Rand - Flow speed","func":"let pumpSpeed = global.get('pumpSpeed')\nlet valveState = global.get('valveState')\n\nlet flowSpeed = 0\n\nif(!valveState){\n    flowSpeed = 0\n} else {\n    flowSpeed = pumpSpeed * (200 + (Math.floor(Math.random() * 10)))\n}\n\nflowSpeed = Math.round((flowSpeed + Number.EPSILON) * 100) / 100\n\nglobal.set('flowSpeed', flowSpeed)\n\nmsg.payload = {'flowSpeed':flowSpeed};\nmsg.topic = 'flowspeed'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["7005bdff.5367b4","c461bea0.6b1bc"]]},{"id":"8adac806.586ae8","type":"inject","z":"7fdef46.f9a0f0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":160,"wires":[["cf54ffd6.92f44"]]},{"id":"3f373918.c054b6","type":"inject","z":"7fdef46.f9a0f0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":220,"wires":[["cf54ffd6.92f44"]]},{"id":"cf54ffd6.92f44","type":"function","z":"7fdef46.f9a0f0c","name":"Pump State","func":"let pumpState = global.set('pumpState', msg.payload)\n\nmsg.topic = 'motorstate'\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nlet pumpState = flow.set('pumpState', false)","finalize":"","x":310,"y":180,"wires":[["438b84bf.64161c","c461bea0.6b1bc"]]},{"id":"438b84bf.64161c","type":"mqtt out","z":"7fdef46.f9a0f0c","name":"","topic":"","qos":"","retain":"","broker":"41c78d86.a644d4","x":550,"y":180,"wires":[]},{"id":"e0e657a9.f28718","type":"inject","z":"7fdef46.f9a0f0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":280,"wires":[["bc12c732.f27818"]]},{"id":"d1a86392.f032","type":"inject","z":"7fdef46.f9a0f0c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":90,"y":360,"wires":[["bc12c732.f27818"]]},{"id":"c461bea0.6b1bc","type":"debug","z":"7fdef46.f9a0f0c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":100,"wires":[]},{"id":"8081a1ce.57bd1","type":"function","z":"50c62193.fc097","name":"","func":"let pspeed = global.get('pumpSpeed')\nlet fspeed = global.get('flowSpeed')\nlet pstate = global.get('pumpState')\nlet valve = global.get('valveState')\n\n\nreturn {\n    payload: {\n        pspeed: pspeed,\n        fspeed: fspeed,\n        pstate: pstate,\n        valve: valve\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":180,"wires":[["123ec607.7dc71a","be403d67.eaa14"]]},{"id":"123ec607.7dc71a","type":"ui_template","z":"50c62193.fc097","group":"a5bf296c.9bda88","name":"","order":7,"width":"0","height":"0","format":"<!--<div ng-bind-html=\"msg.payload\"></div>-->\n\n    <!-- SVG FILE CONTENT BELOW -->\n\n<svg width=\"800\" height=\"500\" xmlns=\"http://www.w3.org/2000/svg\" class=\"ng-scope\">\n <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->\n <defs>\n  <filter height=\"200%\" width=\"200%\" y=\"-50%\" x=\"-50%\" id=\"svg_6_blur\">\n   <feGaussianBlur stdDeviation=\"0\" in=\"SourceGraphic\"></feGaussianBlur>\n  </filter>\n </defs>\n <g>\n  <title>background</title>\n  <rect fill=\"#fff\" id=\"canvas_background\" height=\"602\" width=\"802\" y=\"-1\" x=\"-1\"></rect>\n  <g display=\"none\" overflow=\"visible\" y=\"0\" x=\"0\" height=\"100%\" width=\"100%\" id=\"canvasGrid\">\n   <rect fill=\"url(#gridpattern)\" stroke-width=\"0\" y=\"0\" x=\"0\" height=\"100%\" width=\"100%\"></rect>\n  </g>\n </g>\n <g>\n  <title>Layer 1</title>\n  <rect stroke=\"#000000\" class=\"beer\" height=\"13.0137\" width=\"237.65863\" y=\"362.5018\" x=\"438.63799\" stroke-width=\"2\" fill=\"#ffff00\"></rect>\n  <rect stroke=\"#000\" id=\"svg_34\" height=\"39.49592\" width=\"325.61283\" y=\"444.71037\" x=\"405.71554\" stroke-opacity=\"null\" stroke-width=\"2\" fill=\"#999999\"></rect>\n  <rect stroke=\"#000\" id=\"svg_30\" height=\"88.83819\" width=\"326.86063\" y=\"154.34294\" x=\"195.97216\" stroke-opacity=\"null\" stroke-width=\"2\" fill=\"#999999\"></rect>\n  <text xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"svg_2\" y=\"233.06726\" x=\"202.09693\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">Pump speed</text>\n  <text font-weight=\"bold\" xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"pspeed\" y=\"232.40936\" x=\"367.02558\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">1.3</text>\n  <text xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"svg_4\" y=\"474.86826\" x=\"415.07096\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">Flow speed</text>\n  <text font-weight=\"bold\" xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"fspeed\" y=\"474.86826\" x=\"560.76062\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">267.8</text>\n  <rect rx=\"10\" filter=\"url(#svg_6_blur)\" stroke=\"#000\" id=\"svg_6\" height=\"128\" width=\"84\" y=\"262.05\" x=\"79.75\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"1.5\" fill=\"#25aaaa\"></rect>\n  <line stroke=\"#000\" stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_7\" y2=\"390.28917\" x2=\"88.4292\" y1=\"439.72256\" x1=\"88.4292\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"5\" fill=\"none\"></line>\n  <line stroke=\"#000\" stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_8\" y2=\"389.40421\" x2=\"152.58847\" y1=\"438.8376\" x1=\"152.58847\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"5\" fill=\"none\"></line>\n  <rect id=\"svg_9\" height=\"104.42475\" width=\"16.81415\" y=\"273.98223\" x=\"132.74333\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000\" fill=\"#ffffff\"></rect>\n  <rect stroke=\"#ffff00\" id=\"svg_10\" height=\"68.14157\" width=\"13.27433\" y=\"308.49549\" x=\"134.51324\" stroke-width=\"2\" fill=\"#ffff00\"></rect>\n  <rect stroke=\"#000000\" id=\"svg_11\" height=\"13.0137\" width=\"125.34246\" y=\"364.24658\" x=\"163.63015\" stroke-width=\"2\" fill=\"#ffff00\"></rect>\n  <rect stroke=\"#000000\" class=\"beer\" height=\"13.0137\" width=\"36.59764\" y=\"363.34567\" x=\"317.68451\" stroke-width=\"2\" fill=\"#ffff00\"></rect>\n  <ellipse ry=\"17.46575\" rx=\"17.46575\" class=\"valve\" cy=\"369.38356\" cx=\"303.69864\" stroke-width=\"2\" stroke=\"#000000\" fill=\"#0000bf\"></ellipse>\n  <line stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_14\" y2=\"334.05698\" x2=\"303.35618\" y1=\"351.91781\" x1=\"303.35618\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000000\" fill=\"none\"></line>\n  <rect stroke=\"#000000\" class = 'valve' id=\"valveON\" height=\"8.21918\" width=\"34\" y=\"325.20548\" x=\"286.23289\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"2\" fill=\"#0000bf\"></rect>\n  <rect stroke=\"#000000\" class = 'valve' id=\"valveOFF\" height=\"8.21918\" width=\"10.12553\" y=\"325.28872\" x=\"298.44193\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"2\" fill=\"#0000bf\"></rect>\n  <rect stroke=\"#000000\" class=\"beer\" height=\"13.0137\" width=\"19.23676\" y=\"362.5018\" x=\"395.67173\" stroke-width=\"2\" fill=\"#ffff00\"></rect>\n  <text font-style=\"italic\" xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"svg_32\" y=\"230.24188\" x=\"461.82809\" stroke-opacity=\"null\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">rpm</text>\n  <text font-style=\"italic\" xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"svg_33\" y=\"472.89457\" x=\"666.95406\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">l/min</text>\n  <g id=\"svg_35\">\n   <rect rx=\"4\" class=\"pump\" height=\"26.12618\" width=\"36.93701\" y=\"354.30875\" x=\"346.58455\" stroke-width=\"2\" stroke=\"#000000\" fill=\"#0000bf\"></rect>\n   <rect rx=\"4\" stroke=\"#000000\" class=\"pump\" height=\"47.76119\" width=\"13.93035\" y=\"342.48756\" x=\"384.27861\" stroke-opacity=\"null\" stroke-width=\"2\" fill=\"#0000bf\"></rect>\n  </g>\n  <g id=\"svg_36\">\n   <rect stroke=\"#000000\" id=\"flow\" height=\"54.85143\" width=\"15.61156\" y=\"330.62752\" x=\"426.91287\" stroke-width=\"2\" fill=\"#0000bf\"></rect>\n   <rect stroke=\"#000000\" id=\"flow\" height=\"28.69152\" width=\"15.61156\" y=\"356.78742\" x=\"410.87938\" stroke-width=\"2\" fill=\"#0000bf\"></rect>\n  </g>\n  <line stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_37\" y2=\"242.30929\" x2=\"344.5381\" y1=\"361.54084\" x1=\"369.92289\" fill-opacity=\"null\" stroke-width=\"2\" stroke=\"#000000\" fill=\"none\"></line>\n  <ellipse ry=\"3.10343\" rx=\"3.10343\" id=\"svg_38\" cy=\"361.65319\" cx=\"369.86005\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000\" fill=\"#999999\"></ellipse>\n  <line stroke=\"#000000\" stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_39\" y2=\"374.86786\" x2=\"436.01127\" y1=\"444.28891\" x1=\"518.76056\" fill-opacity=\"null\" stroke-width=\"2\" fill=\"none\"></line>\n  <ellipse ry=\"3.10343\" rx=\"3.10343\" id=\"svg_40\" cy=\"374.75023\" cx=\"436.21883\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000\" fill=\"#999999\"></ellipse>\n  <rect stroke=\"#000\" id=\"svg_41\" height=\"39.49592\" width=\"246.36166\" y=\"462.97961\" x=\"140.3307\" stroke-opacity=\"null\" stroke-width=\"2\" fill=\"#999999\"></rect>\n  <text xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"svg_42\" y=\"491.21443\" x=\"150.64768\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">Valve Position</text>\n  <text font-weight=\"bold\" stroke=\"#000\" xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"valveState\" y=\"492.17597\" x=\"318.91703\" stroke-width=\"0\" fill=\"#000000\">[object Undefined]</text>\n  <line stroke=\"#000000\" stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_48\" y2=\"374.03168\" x2=\"301.44218\" y1=\"462.49326\" x1=\"247.59602\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"2\" fill=\"none\"></line>\n  <ellipse ry=\"3.10343\" rx=\"3.10343\" id=\"svg_49\" cy=\"373.50511\" cx=\"302.0432\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000\" fill=\"#999999\"></ellipse>\n  <text xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"18\" id=\"svg_51\" y=\"353.43983\" x=\"564.42143\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">To filling</text>\n  <line stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_52\" y2=\"350.38919\" x2=\"677.2587\" y1=\"350.38919\" x1=\"640.19453\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000000\" fill=\"none\"></line>\n  <line stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_53\" y2=\"340.89628\" x2=\"667.92738\" y1=\"350.46858\" x1=\"677.49968\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000000\" fill=\"none\"></line>\n  <line transform=\"rotate(-90 673.1041259765625,355.0574340820312) \" stroke-linecap=\"null\" stroke-linejoin=\"null\" id=\"svg_54\" y2=\"350.27128\" x2=\"668.318\" y1=\"359.84358\" x1=\"677.8903\" fill-opacity=\"null\" stroke-opacity=\"null\" stroke-width=\"2\" stroke=\"#000000\" fill=\"none\"></line>\n  <text xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"18\" id=\"svg_55\" y=\"250.31452\" x=\"82.38873\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">Beer tank</text>\n  <text xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"svg_62\" y=\"192.93554\" x=\"204.07061\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">Pump state</text>\n  <text font-weight=\"bold\" xml:space=\"preserve\" text-anchor=\"start\" font-family=\"Helvetica, Arial, sans-serif\" font-size=\"24\" id=\"pstate\" y=\"192.27764\" x=\"378.20981\" stroke-width=\"0\" stroke=\"#000\" fill=\"#000000\">true</text>\n </g>\n</svg>\n    <!-- SVG FILE CONTENT ABOVE -->\n\n    <script>\n        (function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        //var x = document.getElementById('myFrame');\n        //x.setAttribute('src', msg.payload); \n        console.log(msg.payload)\n        \n        // TEXT OCNTROL\n        \n        let pspeed = document.getElementById('pspeed');\n        pspeed.innerHTML = msg.payload.pspeed\n        pspeed.setAttribute(\"fill\", \"black\")\n        \n        let fspeed = document.getElementById('fspeed');\n        fspeed.innerHTML = msg.payload.fspeed\n        \n        let pstate = document.getElementById('pstate');\n        let valveState = document.getElementById('valveState');\n        let beer = Array.from(document.getElementsByClassName('beer'));\n        let valveON = document.getElementById('valveON');\n        let valveOFF = document.getElementById('valveOFF');\n        let pump = Array.from(document.getElementsByClassName('pump'));\n        let valve = Array.from(document.getElementsByClassName('valve'));\n        \n        //Controlled by valve position\n        \n        if(msg.payload.valve){\n            valveState.innerHTML = 'ON'\n            for(e of beer){\n                e.setAttribute(\"fill\", \"yellow\")\n            }\n            for(e of valve){\n                e.setAttribute(\"fill\", \"blue\")\n            }\n            valveON.setAttribute(\"visibility\", \"visible\")\n            valveOFF.setAttribute(\"visibility\", \"hidden\")\n        }else {\n            valveState.innerHTML = 'OFF'\n            for(e of beer){\n                e.setAttribute(\"fill\", \"gray\")\n            }\n            for(e of valve){\n                e.setAttribute(\"fill\", \"gray\")\n            }\n            valveON.setAttribute(\"visibility\", \"hidden\")\n            valveOFF.setAttribute(\"visibility\", \"visible\")\n        }\n        \n        if(msg.payload.pstate){\n            pstate.innerHTML = 'ON'\n            \n            for(e of pump){\n                if(!msg.payload.valve){\n                    e.setAttribute(\"fill\", \"red\")\n                    pspeed.setAttribute(\"fill\", \"red\")\n                }else{\n                    e.setAttribute(\"fill\", \"blue\")\n                    pspeed.setAttribute(\"fill\", \"black\")\n                }\n            }\n        } else {\n           pstate.innerHTML = 'OFF'\n           for(e of pump){\n                e.setAttribute(\"fill\", \"gray\")\n            }\n        }\n        \n        \n       \n        \n        \n        \n        \n        \n        });\n})(scope);\n    </script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":180,"wires":[[]]},{"id":"67f52099.39ba2","type":"inject","z":"50c62193.fc097","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["8081a1ce.57bd1"]]},{"id":"8c0d7596.4702b8","type":"ui_switch","z":"7fdef46.f9a0f0c","name":"","label":"Valve control","tooltip":"","group":"f57ffc3a.e6f9e","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":400,"wires":[["bc12c732.f27818"]]},{"id":"885305c5.9e8998","type":"ui_switch","z":"7fdef46.f9a0f0c","name":"","label":"Pump switch","tooltip":"","group":"f57ffc3a.e6f9e","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":260,"wires":[["cf54ffd6.92f44"]]},{"id":"be403d67.eaa14","type":"debug","z":"50c62193.fc097","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":100,"wires":[]}]